body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  
}
.header {
  display: grid;
  grid-template-columns: 1.2fr 2fr 1fr 1fr 1fr ;
  height: 79px;
  background-color: white;
}
.rightside {
  text-align: center;
  padding-top: 20%;
}
.hoverred {  
  color:#656666;  
}
.hoverred:hover {
  cursor: pointer;  
  color:#b70038;  
}
.logo {
  background: url("https://s3-us-west-1.amazonaws.com/apateezassets/apateez-logo-long-white.jpeg");
  background-size: contain;
  background-repeat: no-repeat;
  border-right:1px solid #d0d2d3;
  background-position:center;
}

.logo:hover {
  background: url("https://s3-us-west-1.amazonaws.com/apateezassets/apateez-logo-long-red.jpeg");
  background-color: #92002c;
  background-size: contain;
  background-repeat: no-repeat;
  border-right:1px solid #d0d2d3;
  background-position:center;
}
.searchbox {
  border-right:1px solid #d0d2d3; 
  padding-left: 5%;
  padding-right:5%;
  top:10px;
  letter-spacing: 1.2px;
  color:#656666;  
}
i.searchIcon {
  display: inline-block;  
  font-size: 20px;
}
input.input {
  height: 19px;
  border-bottom:1px solid #d0d2d3;
}
input:focus + label {
  color: #d0d2d3 !important;
 }
 /* label underline focus color */
 input:focus {
 border-bottom: 1px solid #d0d2d3 !important;
 box-shadow: 0 1px 0 0 #d0d2d3 !important
 }
 label {
  font-size: .8rem;
  color: #9e9e9e;
  width: 100%;
  display: flex;
  margin-top: 7%;
}
.social {
  top:430px;
  right: 0px;
  display: flex;
  background: #101820;
  position: absolute;
  height: 60px;
  width: 390px;
  z-index: 1;  

}
.smallsocial {
  top:430px;
  right: 0px;
  display: flex;
  background: #101820;
  position: absolute;
  height: 60px;
  width: 250px;
  z-index: 1;
}

.dropdown-content {
  background-color: #1c252c;
  opacity: .7;  
  margin-top: 80px;
  min-width: 300px; /* Changed this to accomodate content width */
  max-height: auto;
  margin-left: -1px; /* Add this to keep dropdown in line with edge of navbar */
  position: relative;
  border-bottom: 1px solid #656666;
  border-right: 1px solid #656666;
  min-height: 80px;
  text-align: center;
  text-decoration: none;
}

.dropdown-content li {
  margin-top: 20px;
  font-size: 20px;
  color: white;
  min-height: 50px;
  line-height: 1.5rem;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #656666;
  border-right: 1px solid #656666;
  box-sizing: border-box;
  min-height: 80px;
  position: relative; 
}
#dropdown_0 li:hover {
  background-color: #1c252c; 
  cursor: pointer;
  font-size: 22px;
}
i.medium {
  font-size: 1.5rem;
  text-align: center;
  color: white;
  background: black;
  border-style: solid;
  border-width: 1px;  
  height: 40px;
  width: 40px;
  padding-left: 8px;
  vertical-align: middle;  
}
.fa-twitter {
  background-color: white;
  border-radius: 50%;
  border: 1x solid grey;
  padding:10px;
  size: 10px;
  line-height: .8;
}
.fa-pinterest {
  background-color: white;
  border-radius: 50%;
  border: 1x solid grey;
  padding:10px;
  size: 10px;
  line-height: .8;
}
.fa-facebook-f {
  background-color: white;
  border-radius: 50%;
  border: 1x solid grey;
  padding:10px;
  size: 10px;
  line-height: .8;
}
.fa-envelope {
  background-color: white;
  border-radius: 50%;
  border: 1x solid grey;
  padding:10px;
  size: 10px;
  line-height: .8;
}
.fa-ellipsis-h {
  background-color: white;
  border-radius: 50%;
  border: 1x solid grey;
  padding:10px;
  size: 10px;
  line-height: .8;
}
.fa-times {
  background-color: white;
  border-radius: 50%;
  border: 1x solid grey;
  padding:10px;
  size: 10px;
  line-height: .8;
}

.fa-twitter:hover {
  background: #4AB3F4;
}
.fa-times:hover {
  background: #b22222;
}
.fa-ellipsis-h:hover {
  background: #b70038;
}
.fa-envelope:hover {
  background: #b22222;
}
.fa-pinterest:hover {
  background: #bd081c;
}
.fa-facebook-f:hover {
  background: #365899;
}
.iconsCenter {
  align-self: center;
  margin:auto;
}

.openGrid {
  display: grid;
  grid-template-columns: 1fr .5fr 1fr .5fr 1fr;
  grid-gap: .25em;
  height: 384px;
  overflow: hidden;
  top: 79px;     
}
.verticalGrid {
  width:250px;
  display: grid;
  grid-gap: .25em;
  grid-template-columns: 1fr;
  overflow: hidden;
}

.bigThumbnail {
  height: 384px;
  width: 520PX;
}
.smallThumbnail {
  height: 190px;
  width:250px;  
}

.horizontalGrid {
  height: 384px;
  width: 520PX;
  overflow: hidden;
}
.verticalCol {
  height: 190px;
  width:250px;
  overflow: hidden;
}

.smallThumbnail:hover {
  cursor: pointer;
  transform: scale(1.02);
  transition: transform .5s ease-in-out;
}
.bigThumbnail:hover {
  cursor: pointer;
  transform: scale(1.02);
  transition: transform .5s ease-in-out;
}
.numBox {
  background-color: rgba(16,24,32,.75);
  height: 40px;
  width: 120px;
  padding-right: 10px;
  padding-left: 16px; 
  cursor: pointer;
  position: absolute;
  color: white;
  right: 3% ;
  margin-top: 12%;
  display: grid;
}
.numBox:hover {
  background: black;
}

.widthNumBox {
  margin:auto;
  font-size: small;
}

.plus {
  font-size: 20px;
  font-weight: lighter;
}
.material-icons.cancel {
  position: absolute;
  z-index: 1;
  color: rgba(16,24,32,.95);
  border-radius: 100%;
  top: 10px;
  background: white;
  margin-left: 97.5%;
  text-align: center;
  font-weight: 900;
}
.material-icons.apps {
  
  z-index: 300;
  color: white;
  background: black;  
  width: 40px;
  height: 35px;
  border: none;
  opacity: 0.9;
  font-size: x-large;
}
.material-icons:hover {
  cursor: pointer;
  transition: transform 1s ease-in-out;
  color: white;
  background: black;
}
.material-icons.cancel:hover {
  cursor: pointer;
  transition: transform 1s ease-in-out;
  color: white;
  transform: scale(1.2);
  transition: transform .5s ease-in-out;
}
.open {
  background: none;
}
.FullOpenGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: .25em;
  height: 100%;
  width:100%;
  overflow: auto;  
  z-index: 2;  
}

.gridThumbnail {
  height: 250px;
  width: 100%;
}

.eachImage {
  height: 250px;
  width: 100%;
} 

img:hover {
  cursor: pointer;
}

img {
  max-height: 650px;
  max-width: 600px;
}

.ril-toolbar__item {
  margin-left: 180px;
  opacity: .9;
  font-size: 10px;
}
.restaurantName {
  font-size: 15px;
  color: white;
  opacity: 1;
  margin-left: 43%;
  padding: 20px;
  letter-spacing: 1.5px;
}
/*Overwrite Materialize Button styling*/
.ril-next-button:hover {
  background-color: black;
}
.ril-next-button:visited {
  background-color: black;
}
.ril-next-button:active {
  background-color: black;
}
.ril-next-button:focus {
  background-color: black;
}
.ril-prev-button:hover {
  background-color: black;
}
.ril-prev-button:visited {
  background-color: black;
}
.ril-prev-button:active {
  background-color: black;
}
.ril-prev-button:focus {
  background-color: black;
}
.photoNum {
  font-size: 12px;
  font-weight: lighter;
}
.restaurantN {
  font-size: 14px;
}
/*.overlay{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(16,24,32,.95);
  z-index: 3;
}*/
/*.Modal{
                    position: absolute;
                    top: 10px;
                    left: 40px;
                    right: 40px;
                    bottom: 40px;
                    border: 0px solid #ccc;
                    background: #fff;
                    overflow: auto;
                    -webkit-overflow-scrolling:touch;
                    
                    border-radius: 4px;
                    outline: none;
                    padding: 0px;
                    background-color: rgba(28, 22, 22, 0.29);
                    z-index:3;

                  }*/
